<ion-header>
  <ion-toolbar color="primario-oscuro">
    <ion-buttons slot="start">
      <app-atras></app-atras>
    </ion-buttons>
    <ion-title>Vincular dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #formulario="ngForm" (ngSubmit)="vincularDispositivo(formulario)" class="ion-padding-top">    
    <ion-item>
      <ion-label>Código de vinculación:</ion-label>
      <ion-input type="text" placeholder="Código brindado por el dispositivo" name="id" [(ngModel)]="info.id" autocomplete="off" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" placeholder="Nombre del dispositivo" name="nombre" [(ngModel)]="info.nombre" autocomplete="off" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción:</ion-label>
      <ion-input type="text" placeholder="Descripción del dispositivo" name="descripcion" [(ngModel)]="info.descripcion" autocomplete="off" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Promedio de interacciones:</ion-label>
      <ion-input type="number" placeholder="Cantidad promedio de interacciones con el dispositivo" name="promedio" [(ngModel)]="info.promedio" autocomplete="off" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Límite de carga (KGs):</ion-label>
      <ion-input type="number" placeholder="Cantidad máxima de kilogramos soportada por el dispositivo" name="limite" [(ngModel)]="info.limite" autocomplete="off" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Municipio:</ion-label>
      <ion-input type="text" placeholder="Municipio donde se encuentra el dispositivo" name="municipio" [(ngModel)]="ubicacion.municipio" autocomplete="off" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estado:</ion-label>
      <ion-input type="text" placeholder="Estado donde se encuentra el dispositivo" name="estado" [(ngModel)]="ubicacion.estado" autocomplete="off" required></ion-input>
    </ion-item>
    <ion-button class="ion-margin-vertical" color="secundario-oscuro" expand="block" type="submit" [disabled]="formulario.invalid" routerLink="/dispositivos">Guardar cambios</ion-button>
  </form>
</ion-content>
