<ion-content class="ion-padding fondo">
  <ion-card color="primario-oscuro" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>¡Bienvenid@!</ion-card-title>
      <ion-card-subtitle>Proyecto Garbatón</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Los cambios no se hacen de la noche a la mañana, pero tampoco se hacen con falta de actitud.
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding" routerLink="/acceso">
    <ion-fab-button color="primario-oscuro">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-pie></app-pie>