<ion-header>
  <ion-toolbar color="primario-oscuro">
    <ion-buttons slot="start">
      <app-atras></app-atras>
    </ion-buttons>
    <ion-title>Calificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <ion-text color="medium">
        <h2 class="ion-text-center">¡Tu opinión nos importa!</h2>
        <h3>Haznos saber qué piensas de nosotros y déjanos algún comentario</h3>
      </ion-text>
      <ion-button (click)="calificar()" color="primario-oscuro" expand="block" class="ion-margin-top">Calificar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>